@import './styles/styles.scss';

.imgur-App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;

  &:before {
    @include rainbowBouquet();

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: -1;
    opacity: 0.8;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: -1;
    background: linear-gradient(
      0deg,
      rgba(46, 48, 53, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
